[project]
	description = Assembla ALM plug-in for Jenkins CI
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Simone Ardissone (droidevel82)
[access "refs/for/refs/*"]
	read = group user/Simone Ardissone (droidevel82)
	push = group user/Simone Ardissone (droidevel82)
	label-Code-Review = -2..+2 group user/Simone Ardissone (droidevel82)
	label-Verified = -1..+1 group user/Simone Ardissone (droidevel82)
	rebase = group user/Simone Ardissone (droidevel82)
	removeReviewer = group user/Simone Ardissone (droidevel82)
	submit = group user/Simone Ardissone (droidevel82)
[access "refs/heads/*"]
	read = group user/Simone Ardissone (droidevel82)
	create = group user/Simone Ardissone (droidevel82)
	push = +force group user/Simone Ardissone (droidevel82)
	pushMerge = group user/Simone Ardissone (droidevel82)
[access "refs/tags/*"]
	push = +force group user/Simone Ardissone (droidevel82)
	pushTag = group user/Simone Ardissone (droidevel82)
	pushSignedTag = group user/Simone Ardissone (droidevel82)
